<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Democraz</title>
  </head>
  <body>
    <h1>Democraz</h1>
    <p>Seja bem-vindo ao Democraz</p>
    {% for dado in pecs.dados %}

    <a href="{{dado.uri}}">
      <p>
        Tipo: {{dado.siglaTipo}}| Ano: {{ano}} | Proposição: {{dado.ementa}}
      </p>
    </a>

    {% endfor%}
  </body>
</html>
