<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Democraz</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"
    />
  </head>

  <body>
    <header>
      <section>
        <h1>Democraz</h1>
        <p>Seja bem-vindo ao Democraz</p>
      </section>
    </header>

    <main>
      <section>
        <dl>
          {% for dado in pecs.dados %}
          <article>
            <a href="{{dado.uri}}">
              <dt>{{dado.siglaTipo}} {{dado.numero}} | Ano: {{dado.ano}}</dt>
              <dd>Proposição: {{dado.ementa}}</dd>
              <dd>
                <i
                  >Status:
                  {{dado.proposicao.dados.statusProposicao.descricaoSituacao}}</i
                >
              </dd>
            </a>
          </article>
          {% endfor%}
        </dl>
      </section>
    </main>

    <footer>
      <section>
        <p>Democraz</p>
        <p>Criado por Eduardo Moraes e Pedro Estefan, 2021</p>
      </section>
    </footer>
  </body>
</html>
